@charset "utf-8";

.titulo_encabezado{
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #5b6946;
	text-align: left;
}

.borde_menu{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5b6946;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #5b6946;
}

.titulopantalla {
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #5b6946;
	text-align: center;
	vertical-align: middle;
}

.sub_titulopantalla {
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #5b6946;
	text-align: left;
	vertical-align: middle;
}

.dato_grande {
	font-family: Verdana;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	vertical-align: middle;
}

.titulo_menu {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

A.enlace {
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	color: #006600;
	text-decoration: none;
}
A.enlace:hover {
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
}

A.enlace_grande {
	font-family: Verdana;
	font-size: 20px;
	font-weight: bold;
	color: #006600;
	text-decoration: none;
}
A.enlace_grande:hover {
	font-family: Verdana;
	font-size: 20px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
}

A.enlace_actualiza {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000099;
	text-decoration: none;
	font-weight: bold;
}
A.enlace_actualiza:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0066FF;
	text-decoration: none;
	font-weight: bold;
}

A.enlace_opcion {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
A.enlace_opcion:hover {
	font-family: Verdana;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

.datos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.datos2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.atendido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006600;
	text-decoration: none;
	font-weight: bold;
}

.anulado{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CC3300;
	text-decoration: none;
	font-weight: bold;
}

.datos3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.etiquetas{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

A.enlace_datos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

A.enlace_datos:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}

.tabla_encabezado{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	background-color: #6699FF;
	text-align: center;
}
